@import '../../variables.scss';

.banner-section {
    grid-column: 1 / -1;
    margin-top: 110px;
    margin-bottom: 39px;
    max-height: 295px; // Будьте обережні з max-height, якщо тексту буде багато
    background-color: $color-light-brown3;
    border-radius: 10px;
    overflow: hidden; // Щоб картинка не вилазила за радіус, якщо вона велика

    .banner {
        padding: 35px 40px;
        display: grid;
        // ВИПРАВЛЕНО: прибрано дужки та додано правильний синтаксис
        grid-template-columns: 2fr 1fr; 
        align-items: center; // Центрує вміст по вертикалі

        .banner-left {
            display: flex;
            flex-direction: column;
            justify-content: center;


            .banner-title {
                font-size: 32px;
                color: $color-brown;
                margin-bottom: 14px;
            }

            .banner-text {
                font-size: 16px;
                color: $color-light-brown2;
                max-width: 400px;
            }
        }

        .books-picture {
            justify-self: end; // ПРИМУСОВО СТАВИТЬ КАРТИНКУ ВПРАВО
            right: 0;
            height: auto;      // Краще використовувати auto для збереження пропорцій
            max-height: 220px; 
            width: 233px;
            object-fit: contain; // Щоб картинка не деформувалася
        }

        .watch-catalog-button {
            margin-top: 14px;
            padding: 16px 38px;
            width: 246px;
            border: none;
            border-radius: 10px;
            background-color: $color-light-brown;
            color: $color-white;
            font-size: 16px;
            font-family: $font-main;
            cursor: pointer;
        }
    }
}

.popular-section {
    grid-column: 1/-1;
    margin-bottom: 86px;

    .popular-top {
        display: flex;             // Вмикаємо гнучку розмітку
        justify-content: space-between; // Розштовхує елементи по краях (ліворуч і праворуч)
        align-items: center;        
        margin-bottom: 17px;       // Відступ знизу до карток з книгами
        width: 100%;
    }

    .view-all {
        color: $color-purple;
    }

    .popular-title {
        margin: 0;
        font-size: 24px;
    }

    .books-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    box-sizing: border-box;
    padding: 0 0 40px 0; 
}

}