@import '../../variables.scss';


.popular-page {
    grid-column: 1/-1;
    margin-bottom: 86px;


    .popular-title {
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .popular-description {
        max-width: 611px;
        margin-bottom: 34px;
        color: #A0A1A1;
    }

    .filter-chips {
        display: flex;             // Вибудовуємо елементи в ряд
        overflow-x: auto;          // Дозволяємо горизонтальну прокрутку
        white-space: nowrap;       // Забороняємо перенесення кнопок на новий рядок
        gap: 12px;                 // Відстань між кнопками
        margin-bottom: 60px;       
        
        // Приховуємо стандартний скролбар (опціонально, для гарного вигляду)
        &::-webkit-scrollbar {
            display: none;           // Для Chrome, Safari та нових Edge
        }
        -ms-overflow-style: none;  // Для IE та Edge
        scrollbar-width: none;     // Для Firefox

    }
    .chip {
        background-color: $color-light-grey;
        padding: 8px 30px;
        font-size: 16px;
        font-family: $font-main;
        border: none;
        border-radius: 45px;
        cursor: pointer;
        flex-shrink: 0;            
        transition: all 0.2s ease;
        white-space: nowrap;


  &.active {
    background-color: $color-light-brown;
    color: $color-white;
  }

  &:hover {
    filter: brightness(0.9); // Легкий ефект при наведенні
  }
    }
}

.books-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    box-sizing: border-box;
    padding: 0 0 40px 0; 
}