$color-light-grey: #F6F7F9;
$color-brown: #733216;
$color-light-brown: #BD805A;
$color-light-brown2: #805B2F;
$color-light-brown3: #F3E6DD;
$color-light-grey-text: #BCC2C2;
$color-black: #1D1B19;
$color-white: #FFFEFD;
$color-purple: #69668B;
$color-green: #75B87A;
$color-red: #FF3434;
$color-yellow: #F3CD7C;